:root{
    --mainColor: #707070;
    --itemColor: coral;
    --mainBorder: 
}
body {
    background-color: var(--mainColor);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.rootWrapper {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--mainColor);
}
.loginWrapper {
    width: 99%;
    padding: 5px;
    border: var(--mainBorder);
}
.footerWrapper {
    width: 99%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    border: var(--mainBorder);
}
.pageWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "navBar pageView "
}
.navBarWrapper {
    grid-area: navBar;
}
.navBarButton {
    border: none;
    color: black;
    background-color: var(--itemColor);
    margin: 2px 0px;
    width: 100%;
    font-size: 20px;
}
.pageViewWrapper {
    grid-area: pageView
}
.bookListingWrapper {
    padding: 5px;
}
.bookWrapper {

}
.userListingWrapepr {

}
.userWrapper {
}
